@charset "utf-8";

// -------------------------------------------------------------------------------------------------------
// ColorSet 
//-------------------------------------------------------------------------------------------------------

$link-color:#0066cc;
$link-visited:#0066cc;
$link-hover:#0066cc;